.breaking-news{
    background-color: #ffffff;
    border: 1px solid #0098A6;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    padding: 8px;
    a{
        color: #0098A6;
    }
}